<header class="site-header">
  <div class="logo-container">
    <div class="logo">К.И.П.П.</div>
    <div class="subtitle">Комитет Исследования Паранормального Пространства</div>
  </div>
  <nav class="main-nav">
    <ul>
      <li><a href="/index.html">Главная</a></li>
      <li><a href="/templates/about-template.html">О Комитете</a></li>
      <li class="dropdown">
        <a href="/templates/hub-template.html">База Объектов</a>
        <ul class="dropdown-menu">
          <li><a href="/templates/hub-template.html#scp-msu">Объекты SCP-MSU</a></li>
          <li><a href="/templates/hub-template.html#locations">Локации (ЛП)</a></li>
        </ul>
      </li>
      <li><a href="/templates/tales-hub.html">Архив Инцидентов и Рассказов</a></li>
    </ul>
  </nav>
  <div class="search-bar">
    <input type="text" placeholder="Поиск по базе данных..." />
  </div>
</header>